{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% if settings.popup %}
<script type="text/javascript">
  if($(window).width() > 500){
    // Fancybox Join our mailing list popup
    document.addEventListener("StartOtherLoading", function(event) {

      var check_cookie = $.cookie('mailing_list_delay_popup');
      if(check_cookie == null){
        $.cookie('mailing_list_delay_popup', 'expires_seven_days', { expires: 7 });
        //fire your fancybox here
        setTimeout(function(){
          $.fancybox({
            href: "#subscribe_popup"
          });
        }, 2000);
      }
    }); 
  };

</script>  


<div style="display:none">
  <div id="subscribe_popup">
    {% if settings.email-image != blank %}
    {%- assign image_size = '600x' -%}
    <p>
		{%- assign load_img_src = settings.email-image | img_url: '10x', format: 'pjpg' -%}
		{% comment %} {%- assign load_img_src = settings.email-image | img_url: image_size -%} {% endcomment %}
		{%- assign load_img_class = '' -%}
		<img
		{% include '__opt_load_img' src:load_img_src class:load_img_class %}
		alt="" 
		/>		
		{% comment %} <img src="{{ settings.email-image | img_url: image_size }}"> {% endcomment %}
		</p>
    {% endif %}
    <h3>{% comment %}ly_new_settings_replace_for_[ settings.email-popup-title ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id9405443"] %}{% assign ly_translation = shop.metafields[namespace]["id9405443"] %}{% else %}{% assign ly_translation = settings.email-popup-title %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}</h3>
    <p>{% comment %}ly_new_settings_replace_for_[ settings.email_popup_text ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id9405444"] %}{% assign ly_translation = shop.metafields[namespace]["id9405444"] %}{% else %}{% assign ly_translation = settings.email_popup_text %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}</p>    <!-- BEGIN #subs-container -->
    <div id="subs-container" class="clearfix">
      <div id="mc_embed_signup">
        {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
        <p class="success">{% comment %}ly_i18n_replace_for_[ 'password.general.thanks' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'password.general.thanks' | t }}{% endcapture %}{% include 'ly-static-string' with '9405445' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
        {% else %}
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <input type="email" name="contact[email]" id="mce-EMAIL" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '9405446' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        <input type="submit" id="mc-embedded-subscribe" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '9405447' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
        {% endif %}
        {% endform %} 
      </div>  
    </div>
    <div class="clear"></div>
    <div class="fb-like" data-href="{{ shop.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
  </div>
</div>
{% endif %}  