{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
   
  <div class="prod-container">
    {% if product.available %}
    {% for col in product.collections %}
    {% if col.handle == 'new' %}
    <div class="new icn">{% comment %}ly_i18n_replace_for_[ 'products.general.new' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.new' | t }}{% endcapture %}{% include 'ly-static-string' with '9405454' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {% endif %}
    {% endfor %}
    {% if product.price < product.compare_at_price %}
    <div class="sale-item icn">{% comment %}ly_i18n_replace_for_[ 'products.general.sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.sale' | t }}{% endcapture %}{% include 'ly-static-string' with '9405455' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {% endif %}
    {% else %}
    <div class="so icn">{% comment %}ly_i18n_replace_for_[ 'products.general.sold' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.sold' | t }}{% endcapture %}{% include 'ly-static-string' with '9405456' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {% endif %}
    {% if product.template_suffix == 'pre-order' %}
    <div class="pre-order icn">{% comment %}ly_i18n_replace_for_[ 'products.product.pre_order' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.pre_order' | t }}{% endcapture %}{% include 'ly-static-string' with '9405457' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</div>
    {% endif %}
   
    <div class="prod-image">
    <a href="{{ product.url | within: collection }}" title="{% comment %}ly_code_replace_for_[ product.title | escape ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation | escape }}{% comment %}ly_code_replace_end{% endcomment %}">
      <div class="reveal">
				{%- assign load_img_src = product.featured_image.src | product_img_url: '10x', format: 'pjpg' -%}
				{% comment %} {%- assign load_img_src = product.featured_image.src | product_img_url: 'large' -%} {% endcomment %}
				{%- assign load_img_class = '' -%}
				<img
				{% include '__opt_load_img' src:load_img_src class:load_img_class %}
				alt="{{ product.featured_image.alt | escape }}" 
				/>        
				{% comment %} <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" /> {% endcomment %}
        {% if settings.image-flip and product.images.size > 1 %}
        <div class="hidden">
					{%- assign load_img_src = product.images[1] | product_img_url: '10x', format: 'pjpg' -%}
					{% comment %} {%- assign load_img_src = product.images[1] | product_img_url: 'large' -%} {% endcomment %}
					{%- assign load_img_class = '' -%}
					<img
					{% include '__opt_load_img' src:load_img_src class:load_img_class %}
					alt="{{ product.images[1].alt | escape }}" 
					/>
          {% comment %} <img src="{{ product.images[1] | product_img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" /> {% endcomment %}
       {% if settings.quickview %}
          <a class="product-modal1" href="{{ product.url }}">{% comment %}ly_i18n_replace_for_[ 'products.general.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '9405458' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
       	{% endif %}
        </div>
        {% endif %}
      </div>
    </a>
    </div>

  </div>
  <div class="product-info"> 
    <a href="{{ product.url | within: collection }}"> 
      {% if settings.vendor %}<p>{% comment %}ly_code_replace_for_[ product.vendor ]_begin{% endcomment %}{% include 'ly-vendor' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>{% endif %}
      <h3>{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h3>
    </a>
    <div class="price">
      {% if product.price < product.compare_at_price %}
      <div class="onsale">{{ product.price | money }}</div>
      <div class="was">{{ product.compare_at_price | money }}</div>
      {% else %}
      <div class="prod-price">{% if product.price_varies %} 
        {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
      {% endif %}	
    </div>
  </div>

    {% if settings.alternate_colors %}
    <div class="prod-colors">
      {% include 'product-listing-swatches' %}
    </div> 
    {% endif %}    

{% comment %}
  {% if settings.quickview %}
  <a class="fancybox.ajax product-modal" href="{{ product.url }}?view=quick">{% comment %}ly_i18n_replace_for_[ 'products.general.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.general.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '9405458' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
  {% endif %}
{% endcomment %}

